.detail-wrap {
    min-height: calc(100vh - 146px);
}

.detail-wrap .container-fluid {
    padding: 0 6.2rem;
}

.detail-main {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 30px;
}

.detail-content {
    padding: 4rem 0;
}

.detail-name {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.detail-status {
    color: #01be01;
}

.detail-color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid #d6d6d6;
}

.detail-size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #d6d6d6;
}

.colors > li:not(:first-child),
.sizes > li:not(:first-child) {
    margin-left: 1rem;
}

.label-field-detail {
    display: inline-block;
    min-width: 100px;
}

.btn-amount, .detail-amount {
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: 1px solid #d6d6d6;
}

.detail-amount {
    border-left: none;
    border-right: none;
}

.detail-images {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
    height: calc(100vh - 146px);
}

.detail-image-sub {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.detail-img-main {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 146px);
    cursor: pointer;
}

.detail-img-sub {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 146px;
}

#nav-description {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 20px;
}

.detail-desc-img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.label-related-product {
    position: relative;
    display: inline-block;
    background: black;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.label-related-product::after {
    content: '';
    position: absolute;
    top: 0;
    right: -22px;
    width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-left: 22px solid black;
	border-bottom: 22px solid transparent;
}
